<h1>Building Out Ideas</h1>

<h3>Using Collections of References for Ideation</h3>
<p>
As design teams begin to ideate, they start to create collections of references, often called Reference Decks, to help show their ideas. By accompanying these collections of references with words, whether written or verbal, the team can understand what it collectively or an individual teammate is thinking, keep a record of that thinking, and easily edit the idea.
</p>
<p>
Because the team is creating something new, there's no exact photo or sketch or recording of it that exists. For this reason, use a collection of references that are <i>like</i> the product, system, or service you're envisioning to express your thoughts on how a design might look, feel, and function. The purpose of using references, whether drawn, photographed, recorded, et cetera, is to meet four primary goals:
  <br>
  <ul class="usa-list">
    <li>To
      <strong>explore</strong>
      nuances in a proposal, system, or idea</li>
    <li>To
      <strong>understand</strong>
      those nuances</li>
    <li>To
      <strong>clarify</strong>
      those nuances, especially if they act within a complex system</li>
    <li>To
      <strong>communicate</strong>
      the steps above to others who may or may not be present</li>
  </ul>
</p>

<h3>Exploring Happiness</h3>
<p>
Returning to the previous references for "happiness", how might they each inform an overall idea of a product or service?
</p>



<img src="/images/sunny_logo.svg" class= "square_center" alt="sunny logo">
<p class= "square_center">
The flag in this logo seems to indicate that the product or service will be related to the United States of America, while the graphic sun conveys optimism and hope. This item also introduces ideas for the form of the product or service the team member has in mind. According to this reference, the expression of happiness in this product is modern, clean, and minimal.
</p>


<img src="/images/talking.svg" class= "square_center" alt="basic outline of two people's heads with open mouths indicating talking">
<p class= "square_center">
This line drawing shows two people talking. This seems to indicate that the idea of happiness in this product or service has to do with human connection and communication as a form or component of happiness.
</p>

<img src="/images/sunny_beach.svg" class= "square_center" alt="sunny beach">
<p class= "square_center">
The image of the beach conveys ideas of happiness associated with being outside in the natural world, calm, and peace.
</p>


<img src="/images/walking.svg" class= "square_center" alt="text reading I'm walking on sunshine in a font that is squishy like toothpaste.">
<p class= "square_center">
This bouncy text not only communicates the idea of movement and joy, but also, like the logo, informs the form of the idea through the use of a distinct typeface.
</p>

<p>
If this were a teammate's reference deck, what might be a few ideas to take from it? One might be that the product or service the teammate envisions has to do with happiness as a social connection, away from screens, in a light-hearted environment, such as community engagement or outdoor exercise opportunities for Veterans. Because this is only an example, you might take away any one of many ideas from it. For a more precise undertanding of the idea, the reference deck would need to be built out more fully, preferably accompanied by verbal or written cues as well.

<h3>Case Study: Reference Decks</h3>
  <h4>Telehealth Toolkit</h4>

  <p>
    The Telehealth Toolkit is a <a href= "https://telehealth-toolkit.netlify.com/home">prototype knowledge-sharing repository</a> for the Office of Telehealth in the Veterans Health Administration. This reference deck uses examples from several well-known, well-organized sites that share knowledge in different ways.  Multiple ideas for the Toolkit are descibed by the aspects of each site that are highlighted.
  </p>

  <img src="/images/reference1.svg" class= "square_center" alt="">
  <img src="/images/reference2.svg" class= "square_center" alt="">
  <img src="/images/reference3.svg" class= "square_center" alt="">
  <img src="/images/reference4.svg" class= "square_center" alt="">
  <img src="/images/reference5.svg" class= "square_center" alt="">



<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="envisioning.html">&lt; Previous</a>
  </div>
  <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="iteration.html">Next &gt;</a>
  </div>
</div>
