<h1>Design Phase Principles</h1>
<h2>Guiding Principles</h2>
<p>Design teams frequently create a set of guiding principles for their projects’ Design Phases. These principles help teams maintain alignment with the key learnings from the Discovery Phase. Below, find a set of global design principles. These principles, alongside those that you might create for your specific project, will help ensure that the designed product, service, or solution that your team develops embodies the perspectives and needs of your current and potential participants. </p>

<h3>Global Design Phase Principles</h3>
<ol class="usa-list">
  <li>Getting to Simple is Hard</li>
  <li>No Solitary Geniuses</li>
  <li>In Their Shoes</li>
  <li>Consider Potential Change</li>
  <li>Value New Participants</li>
  <li>Plan For Long Term Use</li>
  <li>Serve Everyone and Define Your Audience</li>
  <li>Wait for the Right Opportunity</li>
  <li>Designs Have a Life Cycle</li>
</ol>

<h2>What are the things we design in the government?</h2>

<p>The government does not have a product or product suite that it sells, and it does not package a variety of services or systems to sell at a profit, as private companies do. For this reason, you might be asking yourself, "Well, what designs does the public sector actually need? Why do we need design in the government, anyway?". In fact, the public sector constantly designs products, services, and systems. Just because they're not offered for sale does not mean that they don't exist or aren't, in fact "real" products and services. They just function for public service instead of for commercial offerings.</p>

<p>Traditionally, public sector products, services, and systems were designed largely from a policy angle. Policy makers and subject matter experts would look at data and create the items they believed were needed. More recently, however, government entities have realized that harnessing the power of design-specific methodologies like Human-Centered Design and specialized design practitioners can result in more effective and more sustainable product and service solutions.</p>

<p>So what are some public sector designs? Examples of public service product design include drivers' licenses, building permit applications, and interstate signage, while examples of public sector service design include the system of free school lunch distribution, the Medicare system, and the National Park System. Each of these examples has roots in laws,
  policies, and initiatives from legislatures, agencies, and other government bodies, but growing the ideas from their roots into functional products, services, or systems require a design process — and that process is more impactful when it is conscious, careful, and intentional, or not.</p>

<p>Products, services, and systems are not mutually exclusive entities. While products are most aoften single entities (often with multiple manifestations, such as military uniforms), they are also often integral parts of designed services and systems. Products may be stand-alone items, but services and systems are more complicated designed things because they always include more facets. </p>

<p>As an example, consider the <a href= "https://www.nps.gov/aboutus/national-park-system.htm">National Parks System</a>. First, its name includes "system", but "system" as used in its name indicates that it is a group of parks that form a network of protected geographical areas and historical monuments. As a designed thing, the National Park System is a system including an over-arching, large-scale service of maintaining parkland that is supported by many different component parts. The single entity called the National Parks System includes multiple products, services, and systems within itself, as do most services and systems. One may think of the National Parks System as just a bunch of open air maintained by the Department of Interior, but the system's component services include wilderness preservation services, scientific research opportunities, natural resource maintenance, and historical preservation. Some of its component products include signage, websites, apps, uniforms, housing, and many others. We discuss this further in the <a href= "productsservices.html.erb">Products & Services</a> section.</p>


<div class="border-top-2px border-base-light margin-y-2">
  <h4 class="guide-references__title">REFERENCES</h4>
  <p>
    <strong>Additional Research Methods</strong><br>
    Other resources for design principles can be found from the following groups and resources:

    <ul>
    <li>18F <a href= "https://methods.18f.gov/">Methods</a></li>
    <li>NYC Civic Service Design Group: <a href="https://www1.nyc.gov/assets/servicedesign/">Tools & Tactics</a></li>
    <li>UK Design Group <a href="https://www.designcouncil.org.uk/resources/search">Case Studies</a></li>
    <li>The Book Apart Series, specifically <a href= "https://abookapart.com/products/design-for-real-life">Design for Real Life</a> by Eric Meyer & Sara Wachter-Boettcher</li>
  </ul>
  </p>
</div>

<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="humancentereddesign.html">&lt; Previous</a>
  </div>
  <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="team.html">Next &gt;</a>
  </div>
</div>
