<h1>Envisioning Design</h1>
<h3>Purpose</h3>
<p>The Design phase is all about creation. To aid idea expression and development, designers use non-verbal and non-text-based communication to show their ideas and thoughts in addition to talking and/or writing about them. This is because that, in the process of creating new things, whether product or service, it can be difficult to express the fullness of ideas verbally or in text, especially collaborativly and when the idea is still forming. </p>

<p>That being said, alternatives to verbal and text-based communication channels, like drawing, collaging, or model-making, aren't better than verbal- and text-based communications; instead, each channel answers a specific set of needs. If talking about the changes you're thinking of making to an existing system is confusing, why not draw it? If you can't really describe a better visual-impairment melody for a system to play when people log in, why not hum it, record it on your phone, and email that instead? Drawing, building, collaging, or recording our ideas is faster, more clear, and more actionable than just talking or writing about them.</p></p>

<b>Advantages to Showing & Telling Ideas in the Design Process:</b>
<ul>
  <li> Showing as well as telling allows vague or complex ideas can start to take shape rapidly. These concrete items, like drawings or models, retain their shape while words fly about and sometimes get lost, forgotten, or misunderstood.</li>
  <li> Making a collage, a drawing, or building a model of an idea brings the idea away from the individual into a stand-alone space so that it can be evaluated without attaching evaluation to the individual.</li>
  <li> By layering showing and telling, designers can communicate more complexity than if they stayed with either showing or telling. </li>
</ul>


  <h2>Using References: Communicating Happiness</h2>
  <img src="/images/sunny_flower.svg" class="square_left" alt="sunny flower">

  <p>When designers need to talk about abstract concepts or convey a feeling, we often use photos or drawings to do so. These photos and drawings are called "references" because you should "reference" them when reading the text or listening to the presentation that accompanies them. In the example below, the designer wants to describe something that is sunny, and has collected the image examples to talk about what they mean when they talk about sunny.
  </p>


    <p><img src="/images/sunny_logo.svg" class="square_right center" alt="sunny logo">
      None of the photos in this section are actually happy. The logo uses a sun-like form that seems like it might be quite happy and optimistic; one is a photograph of a happy looking, healthy (and fried egg-like) flower on a sunny day, while the third is a photo of a beach on a sunny day, which many people associate with happiness. <!--while the third are some words that make no literal sense (you can't walk on sunshine) but their shape and color is happy.-->So none of these things are actually pictures of happiness. But what is a picture of happiness? There isn't one, because it's different for all of us. This is why using references is so useful when talking about concepts like happiness.
    </p>

    <!--
    <div class="grid-row">
      <div class="grid-col flex-fill guide-blue-box">
        <img src="/images/envisioning-work_and_text.png" class="float-left height-card" alt="Photograph of binders and folders with paper">
        This photograph of binders and folders with paper conveys complex ideas depending on how the photo is interpreted. Is the photograph meant to convey productivity or overwork? Organization or disorganization? Possibilities like this are why telling is
        also an important part of showing: text and images work together; they are not replacements for each other.

      </div>
    </div>
  -->
    <p><img src="/images/sunny_beach.svg" class="square_left" alt="sunny beach">
    To communicate verbally or in written form about the concept of “happiness”, writers must use a lot of words to communicate. Since words are subjective, sequential, and subject to structural rules, they are very good when precise meaning is possible, but less effective when multiple meanings are needed to be conveyed simultaneously.
    </p>
    <p>This is not to say that drawing is more precise than words all the time, but that they are more dense. They can convey more ideas in a shorter span of time than words can. For this reason, drawing ideas, especially complex ones, is often more efficient than trying to describe them with words. Even if someone is not practiced at drawing, the act of drawing itself allows the descriptive words to become more precise as the team discusses the ideas depicted. This is helpful for getting
      everyone on the same page as well as for starting to explore design ideas.</p>

    <h2>This is Just Show And Tell</h2>
    <p>In grade school, many students in the United States engaged in a game called “Show and Tell”. In this exercise, students brought in an object they thought was interesting, show it to the class, and then tell the class something about that object.
    </p>
    <p>One of the purposes of this exercise is to teach students about representational forms: although a student cannot bring the hike in the woods with their parent to class, they can bring the cool rocks they picked up on that hike to class as a
      representation of what they did. By connecting the tangible rocks with the intangible hike, students were able to make generalizable connections about the elements of a hike, where to find rocks, and what future hikes or rocks might be like.
    </p>
    <p>As adults, images function in the same way: the visualization allows for general communication about an experience, substance, process, etc. that cannot be present. For this reason, the old game of show and tell as useful in meetings as it was in your grade school’s class.
    </p>

    <h3>Using Collections of References</h3>
    Moving on from a single reference for happiness, designers often use collections of references, called "reference decks", to communicate multi-faceted or complex ideas for a system, product, or service design. These reference decks have four primary goals:
      <br>
      <ul class="usa-list">
        <li>To
          <strong>explore</strong>
          nuances in a proposal, system, or idea</li>
        <li>To
          <strong>understand</strong>
          those nuances</li>
        <li>To
          <strong>clarify</strong>
          those nuances, especially if they act within a complex system</li>
        <li>To
          <strong>communicate</strong>
          the steps above to others who may or may not be present</li>
      </ul>
      <p>Important to note: this is not a rigid sequence of steps, but is instead a collection of images, sounds, or models in no particular order. There is no pressure to create a story of the solution at this juncture. Instead, reference decks allow the designer themselves or the design team to communicate their ideas for solutions.
      </p>

    <h2>Case Study: Telehealth Toolkit Reference Deck</h2>
    <p> text and slide pulls from the reference deck</p>



    <div class="border-top-2px border-base-light margin-y-2">
      <h4 class="guide-references__title">REFERENCES & RESOURCES</h4>

      <p>Much of this section was drawn from two of The Lab’s educational courses: Visual Communication for Everyone and Visual Eloquence. Please follow the link below for sign up opportunities.</p>

      <p>
        <strong>The Lab Education Courses</strong><br>
        Visual Eloquence<br>
        Visual Communications for Everyone<br>
        <a href="https://lab.opm.gov/class-sign-up/">https://lab.opm.gov/class-sign-up/</a>
      </p>

      <p> To read more about the interaction of words and pictures, please see Scott Mccloud's excellent graphic work.</p>
      <p>
        <strong>Scott Mccloud</strong><br>
        “Understanding Comics”<br>
        <a href="http://scottmccloud.com/2-print/1-uc/">http://scottmccloud.com/2-print/1-uc/</a>
      </p>

      <p> Important to Note: Understand that different cultures assign different meanings to shapes, colors, gestural forms, and groupings, the same way different parts of the US assign different meanings to words (try ordering a pop in a restaurant in the South. No one will know what you're talking about.) For this reason, if the design work is to be shared across languages or cultures, some research is required to ensure that the work retains the intended impact across all audiences.
      </p>
    </div>

    <div class="grid-row">
      <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
        <a class="usa-button usa-button-outline guide-section-link noprint" href="communicatingideas.html">&lt; Previous</a>
      </div>
      <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
        <a class="usa-button usa-button-outline guide-section-link noprint" href="ideation.html">Next &gt;</a>
      </div>
    </div>
