<h1>Feedback</h1>
<h3>Your work only gets better.</h3>
<p>Feedback is an integral part of the design process and should be sought out when designing anything, be it product, service, or system. In design process, feedback is a multi-step process during which the design team gradually
  reaches farther and farther outward from the core team in order to gather feedback from an increasingly large pool of participants and stakeholders.
</p>

<p>It is preferable to be able to gather feedback on several of the team’s design iterations. Through feedback, the team is able to understand which design idea might hold up best in real-world conditions and which (they are not always the same ones)
  resonates most with participants. Feedback also allows the team to improve and refine the design iterations, using the feedback reviews to gradually phase out the design iterations that are less successful and refining and focusing the more successful ones.</p>

<p>In this section, see the cycle of feedback and revision for a single design solution. In each phase, there are two steps: (1) feedback from an individual or group and (2) revision based on that feedback. In each feedback step, the circle of people the team reaches out to give feedback moves farther away from the core team and farther into the field of end particpants. These feedback sessions can take the form of codesign workshops, prototype testing, or other formats depending on the product, service, or system being tested. For the second step, design revision, the team revises the design internally in order to integrate the feedback from the people that have been asked.
</p>

<h2>Feedback & Revision Process Map</h2>
<p>This Feedback and Revision Process is a basic framework for how to seek out and integrate feedback into a product or service you have designed.
</p>

  <img class= "couple_left" src= "images/feedback_shapes-01.svg">
  <img class= "couple_right" src= "images/feedback_shapes-02.svg">
  <p class= "square_left"><strong>Start:</strong><br>Select a version of your design that came out of your iterative design process.</p>
  <p class= "square_left"><strong>Feedback:</strong><br>Seek feedback from a teammember close to but not directly involved in the project..</p>

  <img class= "couple_left" src= "images/feedback_shapes-03.svg">
  <img class= "couple_right" src= "images/feedback_shapes-04.svg">
  <p class= "square_left"><strong>Revision:</strong><br>Integrate feedback and revise your design. What, if anything will you change? Why?</p>
  <p class= "square_left"><strong>Feedback:</strong><br>Feedback 2 can come from partners aware of or sponsoring the project but not involved in day-to-day its developement.</p>

  <img class= "couple_left" src= "images/feedback_shapes-05.svg">
  <img class= "couple_right" src= "images/feedback_shapes-06.svg">
  <p class= "square_left"><strong>Revision:</strong><br>Integrate feedback and revise your design.</p>
  <p class= "square_left"><strong>Feedback:</strong><br>Ask for feedback from people who will work with the ultimate product and are familair with design work but have not been involved in the project.</p>

  <img class= "couple_left" src= "images/feedback_shapes-07.svg">
  <img class= "couple_right" src= "images/feedback_shapes-08.svg">
  <p class= "square_left"><strong>Revision:</strong><br>Integrate feedback and revise. How do the feedback & potential changes improve or refine the product?</p>
  <p class= "square_left"><strong>Feedback:</strong><br>Start with a version of your design that came out of your iterative design process.</p>

  <img class= "couple_left" src= "images/feedback_shapes-09.svg">
  <img class= "couple_right" src= "images/feedback_shapes-10.svg">
  <p class= "square_left"><strong>Revision:</strong><br>Integrate feedback and revise. How did the feedback from a completely  outside-of-the-project group move the design forward?</p>
  <p class= "square_left"><strong>Implementation</strong><br>Work with implementation team to create a small pilot of the project. This allows you to test the design as well as implementation methods.</p>



<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="iteration.html">&lt; Previous</a>
  </div>
  <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="productsservices.html">Next &gt;</a>
  </div>
</div>

<p>It is important to know that not every piece of feedback from each participant can should be integrated. Be aware of the primary principles of the design phase (and review them if you need to) as well as the principles from your
  problem framing phase. If your design resonates deeply, people will be excited about its potential, have great ideas for improvements, and really want to see those improvements. Ensure that you compare those suggestions to your original project scope and technical ability. If you cannot integrate an improvement into this stage, that’s okay. Communicate to the participant that their feedback is well-placed and important, and that you will note it for integration into a future version or as an idea for a related product or service. Remember: <a href= "designchange.html"<strong>Good ideas have long half-lives.</strong></a>
</p>
