<h1>Ideation</h1>

<p>Ideation means creating and expressing multiple ideas for a design opportunity the team identified during synthesis. The purpose of creating multiple ideas is to push through the most obvious, to question them, and to see if there might be more impactful or appropriate solitions than those that present themselves on the surface. This is very similar to the multiple rounds of synthesis outlined in the <a href= "https://github.com/labopm/HCD-Guides/blob/master/HCD_Ops_Guide_v11.3_pages.pdf">HCD Discovery Operations Guide</a>: the purpose is to get the team thinking, and, through that thinking in the Ideation portion of the Design phase, to see more options for the designs you might want to prototype.

<h3>Using Collections of References for Ideation</h3>
In the previous section, we explored how using references, whether drawn, photographed, recorded, et cetera, can help express abstract ideas like "happiness". In this section, we'll explore how using multiple references helps design teams to show a complex idea for a product, system, or service and then ideate on those ideas.

As design teams begin to ideate, they start to create collections of references, often called Reference Decks, to help show their ideas. By accompanying these collections of references with words, whether written or verbal, the team can understand what it collectively or an individual teammate is thinking, keep a record of that thinking, and easily edit the idea. Because the team is creating something new, there's no exact photo or sketch or recording of it that exists: you need to collect things that are <i>like</i> the thing you're trying to describe in order to describe it. In this way, the purpose of using references, whether drawn, photographed, recorded, et cetera, is to meet four primary goals:
  <br>
  <ul class="usa-list">
    <li>To
      <strong>explore</strong>
      nuances in a proposal, system, or idea</li>
    <li>To
      <strong>understand</strong>
      those nuances</li>
    <li>To
      <strong>clarify</strong>
      those nuances, especially if they act within a complex system</li>
    <li>To
      <strong>communicate</strong>
      the steps above to others who may or may not be present</li>
  </ul>
</p>

<h3>Case Study: Reference Decks</h3>
  <h4>Telehealth Toolkit</h4>

  <p>The Telehealth Toolkit is a knowledge-sharing tool and repository for the Office of Telehealth in the Veterans Health Administration. This reference deck uses examples from several well-functioning knowledge sharing platforms as a means of describing multiple parts of the idea for the Toolkit.</p>
  </p>

<h3>Case Study: Results of Ideation</h3>
  <h4>USAJOBS Mission Critical Hiring Paths Diagram</h4>
  <p>
    <img src="/images/ideation-usajobs_mco.png" class="border">
      <a href="/images/ideation-usajobs_mco.pdf" alt="USAJOBS Mission Critical Hiring Paths Diagram">Click to enlarge</a>
  </p>

  <p>This diagram shows the hiring path of various mission critical positions in the federal government. As part of the USA Jobs redesign, this digram displays the idea of hiring for these important positions.
  </p>
  <p>A simple glance can show a reader that this is an incredibly complex problem involving multiple groups and a systems. Through building this illustrative stack of the components of the hiring path: people, systems, and stages, the USA Jobs team at The Lab was able to not come up with a solution for hiring, but instead to explore the system to the point of understanding it, to clarify those nuances to viewers, and to communicate ideas for the systems' many possible throughlines and values in a concise and yet thorough manner.
  </p>
  <h3>Diagrams</h3>
  <p>Diagrams like this one are a common application of drawing and visual communication in government. They can be used to give form to items that, in reality, don’t have a physical, tangible form, such as this Hiring Paths process or the
    organizational chart of an office.
  </p>

<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="envisioning.html">&lt; Previous</a>
  </div>
  <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="iteration.html">Next &gt;</a>
  </div>
</div>
