<h1>Welcome to the Design Phase!</h1>
<p>
  You've completed your Discovery and are ready to enter the Design phase in order to create action from what you know. In this phase, you and the team will design sustainable products and services that answer the needs of the people on whom you centered your Discovery phase. Use this Concept Guide to help you understand the Why behind the design process. You'll be able to find the How in the upcoming HCD Design Phase Operations Guide. For guidance on How in the meantime, see the Design Methods developed by our friends over at 18F.</p>

<p><h2>What Should You Have Done So Far?</h2></p>
<p> At this stage, you should have completed or be wrapping up your Discovery phase. This means the team has:</p>

<h3>Discovery Phase</h3>
  <ul>
    <li>Partnered with stakeholders to understand their broad needs and area of desired investigation.</li>
    <li>Performed a literary review to understand the quantitative and qualitative data and professional opinions, patterns, project successes and failures that already exists the area of investigation prior to this project.</li>
    <li>Synthesized that information and identified productive areas work that the team can perform to build upon that published knowledge.</li>
    <li>Defined, based on that understanding, a problem frame to investigate and received sign off on it from stakeholders.</li>
    <li>Performed qualitative field research that centers on the experiences and desired futures of the people who live or participate in the area of exploration. </li>
    <li>Synthesized the qualitative data gathered in that field research and compiled it into insights and opportunities for stakeholders.</li>
    <li>Communicated those insights and opportunities to stakeholders.</li>
  </ul>

  If you're not sure if you've completed all these points, or feel that you need more information or direction on them, please see the <a href="https://github.com/labopm/HCD-Guides">Human-Centered Design Discovery Phase Guides</a>.

<p><h2>What Should You Expect Coming Up?</h2></p>
<p>In the upcoming Design phase, you can expect to be challenged and rewarded by the following steps:</p>

<h3>Design Phases</h3>
<ul>
  <li><a href= "/participants.html">Continue to practice human-centeredness</a> through including participants and stakeholders in the design process, as you did in the discovery process.</li>
  <li><a href= "/publicsector.html">Precisely define your audience</a> for the product or service your team designs.</li>
  <li>Create <a href= "/ideation.html">lots of ideas</a> for product or service solutions.</li>
  <li>Understand and communicate how your product or service might need to <a href= "/designchange.html">change in the future.</a></li>
  <li>Create <a href= "/iterations.html">multiple iterations of your design ideas.</a></li>
  <li>Develop prototypes, also called models, of your product and/or service ideas.</li>
  <li>Create and administer the testing of those prototypes with partcipants and <a href= "/feedback.html">receive feedback.</a></li>
  <li><a href= "/designimplementation.html">Work with implementation teams</a> to set your participants up for a beneficial and positive Delivery experience.</li>





<div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-8 margin-bottom-2">
  <a class="usa-button guide-section-link noprint" href="purpose.html">Get started</a>
</div>
