<h1>Iteration</h1>
<h3>Everyone iterates.</h3>
<p>Iteration refers to making a series of design versions. This is a classic design practice; its purpose is to push the designers past the first expression of ideas in order to build them out, identify their advantages and drawbacks, and revise ideas before prototyping begins.
</p>

<p>
  <img src="/images/iteration-iterative_loops.svg" class="border" alt="Iterative Process">
  <p class="guide-footnotes">An illustration of the iterative process. Each iteration is related to eachother and can build on the previous round.
  </p>
</p>

<p>
  Most professionals iterate constantly: they just do it in the context of emails instead of design forms. As a test, think back to the last time you wrote an email in which you really had to think about what you wanted to say. You tried out wording, erased it, moved things around, tried something else, and on and on until you thought you had expressed what you wanted to say. Then you sent it.
</p>

<p>
  All those different email versions were iterations of the email. They weren't the final email’s form; they weren’t even the second or the third. They were how ever many versions you had to go through in order to feel like you had expressed youself clearly.
</p>

<h2>Strategy</h2>

<h3>Turning Insights & Opportunities into Design Iterations</h3>
<p>This is an process illustration of turning Insights into Opportunities.* Here, the illustration is further developed by using tangrams to show how each opportunity can be developed into multiple iterations.
</p>

<p>
  <img src="/images/iteration-opps_to_design.svg" class="border" alt="Process of turning Insights into Opportunities">
  <p class="guide-footnotes">*Previous stages in this process are available in the Human-Centered Design Discovery Stage Guides.
  </p>
</p>
  <p>
  These tangrams are the stand-ins for iterative design ideas. Each comprised of the same parts, and each representativeof the same field of opportunity, they take on similar, but not identical, shapes.
  </p>

  <p>
  Tangram puzzles are a useful way to talk about the cycle of ideation and iteration in the design phase. Tangrams are dissection puzzles consisting of seven flat shapes, called tans, which are put together to form shapes.
  Traditionally, a person playing with a tangram puzzle looks at an outline of a shape that has been created by using all seven tans with no overlaps. The player then tries to re-create that outline using their own tangram pieces. When they have successfully re-created that outline, they have solved the puzzle. Find out more via <a href="https://en.wikipedia.org/wiki/Tangram">this link</a>.
  </p>
</p>

<p>If these tangram puzzles were actual design solutions, they would reflect the similarities of their orgins, and yet the processs of iterating on ideas. Sometimes, this process can seem daunting or even pointless, but, as in the Synthesis portion
  of the Discovery phase, you will find that the more you and your team work with the ideas for design, the more possibilities you will see.
</p>

<div class="clearfix margin-bottom-3">
  <p><img src="/images/iteration-tangram1.svg" class="float-left margin-right-205 margin-bottom-4 height-15" alt="Tangram puzzles">
    Looking at your options once will almost never produce the best solution. That is akin to walking into a supermarket and buying the first apple you see because it’s an apple and you need an apple. You don’t do that. You examine several apples,
    considering their size, sweetness, and defects in the light of what you need.</p>
</div>

<div class="clearfix margin-bottom-3">
  <p><img src="/images/iteration-tangram2.svg" class="float-right margin-left-205  height-15" alt="Tangram puzzles">
    This is the same with design solutions. You work with many of them so that you can arrive at a selection that is best suited to the needs of your participants.</p>
</div>

<div class="clearfix margin-bottom-3">
  <p><img src="/images/iteration-tangram3.svg" class="float-left margin-right-205 height-15" alt="Tangram puzzles">
    Your iterations are related to each other, but they are not identical. Instead, they build on one another.</p>
</div>

<p class= "guide-blue-box">
  <strong>Why Tangrams?</strong>
  Tangrams present the unique benefit of allowing us to connect a concrete object, the tangram puzzle, with the concepts of ideation and iteration. Since a tangram puzzle allows us to create many shapes (new tangram shapes are still being discovered to
  this day), out of the same component parts, they present a useful parallel to your design problem. In your work, you have a need to create something new, but based on the research, insights, and opportunities you identified in the Discovery phase.
  Additionally, like the constraining rules of a the tangram puzzle game, many times your solutions will need to operate inside of or address some strict constraints, themselves.
</p>

<p>
<strong>Tangram Shapes:</strong> These are the seven shapes in each tangram set. Their proportions, or sizes, are based off of a single unit of measure that can be any measurement of distance, such as an inch or a centimeter. Because the proportions are fixed, the scale is
  infinate: You could scale a tangram set up to the size of a building or even a landscape, if you had enough space.
  <img src="/images/envisioning-tangram_shapes.svg" alt="Tangram shapes">
</p>

<h3>Checklist</h3>
<p>
  <span style="font-size: 1em; color: #2e8540;">
    <i class="fas fa-check"></i>
  </span>Ensure that your leadership and teammates are aware that you are actively entering the design phase. Letting them know can be formal or informal, depending on the culture of your workplace.
</p>
<p>
  <span style="font-size: 1em; color: #2e8540;">
    <i class="fas fa-check"></i>
  </span>Ensure that each team member has your Insights and Opportunities from the Discovery phase.</p>
<p>
  <span style="font-size: 1em; color: #2e8540;">
    <i class="fas fa-check"></i>
  </span>Ensure that each team member has a copy of the Design Operations Guide.</p>

  <p class= "space">

<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="building.html">&lt; Previous</a>
  </div>
  <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="feedback.html">Next &gt;</a>
  </div>
</div>
