<h1>Participants</h1>
<h2>4. Consider potential change</h2>
<h3>In stakeholders</h3>
<p>The design process strives to include all possible participants and stakeholders* in the Discovery phase. The thinking is that, if teams talk to all the people who work with a product, service, or system as participants as well as all those who administer, approve, or oversee it as leadership stakeholders and design with them, then the end result of the work serve the needs of all those people.</p>

<p>As we know, the ideal is to codesign solutions with everyone involved. Through having open conversations in safe spaces, design teams hope to hear the flaws in designs and revise the product(s), service(s), or solution(s) before they go to implementation. In reality, sometimes those open conversations don't happen often enough, or anxieties about potential flaws go unsaid. Design teams must champion the need for access and time with participants throughout the design phase as well as continue their empathetic listening from the Discovery phase during those conversations to hear anxieties or concerns that might be hesitantly offered.</p>

<h3>In workflow</h3>
<p>As they move through the design phase, teams need to evaulate how the proposed solution might change the workflow or unduly increase the workload for any of these groups. Teams can do this through talking with these impacted groups as the process goes on, testing with them, and listening to anxieties about being expected to do more with no more time allowances or, conversely, with being cut out of access or workflows they may see as key to their work. Finding these participants might seem difficult, but talk to your primary participants to find out who they think might be touched by these changes, contact those groups, and set up testing with them.</p>

<div class= "guide-blue-box">
<p><strong>Defining Terms</strong><br>
  In this Guide series' usage, we define participants and stakeholders in the following ways:
  <ul>
    <li><strong>participants</strong> are people who work with a product, service, or system in the course of their normal public usage or workflows, such as entering information on a website page or pages or processing that information inside the organization.</li>
    <li><strong>stakeholders</strong> are people who may not use the product, service, or system directly but are responsible for administering those who do use it, approving funding for its development and maintenance, and understanding the greater organization in which it functions.</li>
  </ul>
</p>
</div>


<h3>Case In Point</h3>
<p><strong>US Postal Service Package Delivery</strong></p>
  <p>A well-designed product or service continues to be useful even as circumstances around it may dramatically change. Back in 1775, the creators of the US Postal Service could not forsee that delivery planes, trains, and trucks would one day replace wagons and horses as the way of getting packages from here to there. Technology has radically changed, but the core service offered by the US Post Office remains relevant today, especially as the number of packages sent continues to increase. </p>

  <p>In fact, much of the boom in online retail could not have occurred without a reliable, low cost shipping infrastructure already in place. From small, single-person shops to industry giants like Amazon, the US Postal Services' package delivery has allowed businesses of all sizes to engage in digital interactions that result in three dimensional goods showing up at customers' doors. This increase in scale, however, has not been without its challenges. The new services that characterize current package delivery, like flat rate boxes and weekend delivery, caused changes to the way the Postal Service manages employees and materials. In the age of Sunday delivery, how is personnel distributed? How might a rush of packages coming from one site be accomodated into the system quickly and efficiently? All these questions and many more have to be designed for inside the organization when a public-facing feature to postal delivery is added. And these are the ramifications and additional design needs that teams must consider when creating in the context of large-scale organizations.</p>

<h2>Value new participants</h2>
  <p><strong>And design for the newest-newbies</strong><br>
  <p>Your design does not exist in a vaccuum. It will be integrated into an ecosysem of processes, all of which have their primary participants and stakeholders. For this reason, it is important to understand and anticpate the role of new participants in the your proposed designs.</p>

  <p>New participants are people who are entirely new to the process, either from the public or from inside the organization. New participants from the public are obvious: maybe the team is making a new product to offer to veterans, or maybe a new system for school administrators to talk to one another. New participants from inside the organization are less obvious. Maybe the design solution requires the participation of a previously unrelated team, or maybe it will result in a tightening of the workflow between two teams. These participants are perhaps the most difficult people to design for because these changes can be hard to discern during the design phase. How can a design team anticipate all their needs? How can testing ensure that the product or service is lean enough to navigate though but dense enough to provide all the information a new person might need?</p>

  <p>The first step is to perform rigorous testing of the design solution with a variety of participants, new and experienced. The second step is to identify potential new participants and to test with them.  Similar to the previous section, speak to your primary particpants to find these groups. It is crucial that they are consulted during the design phase so as to avoid creating a product that speaks only to the experienced.</p>

<h3>Case In Point</h3>
<p>
  <strong>USAJOBS</strong><br>
  The USA Jobs website is well-known to many federal employees. Through this jobs application portal, one can find a position that fits with a desired career path, background, employment preference, and General Services level. In the past, this site
  has been run by the federal goverment as well as by private entities, but without exception, it has always been a dismal experience.
</p>
<p>Navigating the site required a participant to understand multiple points about their employment opportunities that they might only have if they had already had experience with federal employment. Even if an applicant did have previous
  understanding of the federal hiring system, the site’s structure made it almost impossible to understand if they had successfully applied for a job or not. Applicants had no visibility into where their application was in the hiring process. And,
  unless someone explictly reached out to them, they had no way of knowing whether their application was still moving through the system or if they had been dropped from consideration.
</p>
<p>These pain points have been considered during the massive redesign of the site from 2015-2018. Although still reflective of a maddeningly byzantine hiring path, both applicants and hiring managers now interact with a more modern, less occluded
  system. This change was made possible by constant testing with new and experienced participants as changes were proposed and built. No feature of this site shipped without hearing from participants about their experience with it. This sort of large-scale
  change is possible only through a long-term commitment to change that is paired with a constant return to focus on the participants themselvs.
</p>

<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="team.html">&lt; Previous</a>
  </div>
  <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="publicsector.html">Next &gt;</a>
  </div>
</div>
