<h1>Design in the Public Sector</h1>
<h2>Public Sector Design differs from Private Sector</h2>
<p>
<strong>Differences in Need</strong><br>
Design in the Public Sector can seem a slower, more complicated affair than its Private Sector counterpart. However, each sector has its own unique values and pressures, terms to fulfill, and spaces to explore. While the Private Sector is pressured by a constant need for increasing profit and the short-term thinking that this challenge requires, the Public Sector must respond to and support the public through the long life spans we now enjoy, which means planning ahead for decades of growth and change.
</p>

<h2>Serve All the People...</h2>
<p>Design in the Public Sector means designing for all groups living or affected by the system for which we design. Whether of differing abilities, backgrounds, or worldviews, ages, or practices, design in the Public Sector must allow each group to
  access products and services. This means that the research and testing groups necessary for this space are massive, but must be addressed.</p>

<h2>...but Define Audience</h2>
<p>
<strong>Not exclusion; precision</strong><br>
Due to the large potential audience in the public sector design, the sheer number of people for whom one is designing can be intimidating. To get it right, to include everyone, to consider all the angles, are all pressures design teams feel throughout their process. How, then, can a team effectively design for such a massive number of people as the entire public? The answer is that designers must define the audiences for their work. An imporant disinction here is precision in design, not exclusion to design. We have to be fair and inclusive of all people, which means designing at a precise scale of product, as opposed to a small scale of people. </p>

<p>Design teams primarily define their audiences through the problem framing process during the Discovery phase. In the Design phase, teams may need to redefine their audience to a more precise scope, as the team ideates product and service solutions based on the opportunities they identified in the Systhesis portion of Discovery. A case study of this audience definition and and redefinion can be found in the development story for the Departemnt of Veterans Affairs Welcome to Telehealth Kit.
</p>

<!--
<h3>Case Study</h3>
<p>
  <strong>VHA Welcome to Telehealth Kit</strong><br>
-->


<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="participants.html">&lt; Previous</a>
  </div>
  <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="designchange.html">Next &gt;</a>
  </div>
</div>
