<h1>Services</h1>

<h3>Services</h3>
<p>According to economists, services are items that are not manufactured and are typically delivered on-demand. In the words of the Economist magazine, Services are “Products of economic activity that you can’t drop on your foot”. They tend to be
  ongoing, or things you return to again and again, unlike the single-instance events that characterize products. In addition to the coffee shop example, other examples of common services include educational services, tax preparation services, and
  insurance services.</p>
<p>Definition of Service. Economist Magazine.
  <a href="https://www.economist.com/economics-a-to-z/u#node-21529393">https://www.economist.com/economics-a-to-z/u#node-21529393</a>
</p>


<h2>Products-Service Spectrum</h2>
<h3>Tangible Products</h3>
<p><img src="/images/products-spectrum01.svg" class="float-left margin-right-205 margin-bottom-4 height-15" alt="Tangible Products"></p>
<p>Like a coffee or a tv.
  <br>
  <b>Government example:</b>
  drivers licenses.</p>

<h3>Digital Products
</h3>
<p><img src="/images/products-spectrum02.svg" class="float-left margin-right-205 margin-bottom-4 height-15" alt="Digital Products"></p>
<p>Like Microsoft Word.
  <br>
  <b>Government examples:</b>
  digital photos of animals from the Smithsonian Natural History Museum. The digital archiving system from the National Archives.</p>

<h3>Products that set constraints around services
</h3>
<p><img src="/images/products-spectrum03.svg" class="float-left margin-right-205 margin-bottom-4 height-mobile" alt="Products that set constraints around services"></p>
<p>Like insurance.<br>
  <b>Government examples:</b>
  the classifications of driver’s licenses...a CDL driver has the license to pilot a vehicle over a certain number of axles or a certain weight; a class C license limits the driver to smaller vehicles.</p>

<h3>Products that give access to services</h3>
<p><img src="/images/products-spectrum04.svg" class="float-right margin-bottom-4 height-mobile" alt="Products that give access to services"></p>
<p>Like video streaming services.<br>
  <b>Government examples:</b>
  NYC311</p>

<h3>Products that augment a service
</h3>
<div class="clearfix">
  <img src="/images/products-spectrum05.svg" class="float-left margin-right-205 margin-bottom-4 height-mobile" alt="Products that augment a service">
  <p>Like to-go coffee cups<br>
    <b>Government examples:</b>
    Welcome to Telehealth Kit</div>

  <div class="border-top-2px border-base-light margin-y-2">
    <h4 class="guide-references__title">REFERENCES</h4>
    <p>
      <strong>National Archives</strong><br>
      The National Archives has a useful and succint definition of the interplay of product and service from which this section draws. Find that original article via this link:
      <a href="https://www.archives.gov/preservation/products/definitions/products-services.html">https://www.archives.gov/preservation/products/definitions/products-services.html</a>
    </p>
  </div>

  <div class="grid-row">
    <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
      <a class="usa-button usa-button-outline guide-section-link noprint" href="products.html">&lt; Previous</a>
    </div>
    <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
      <a class="usa-button usa-button-outline guide-section-link noprint" href="systems.html">Next &gt;</a>
    </div>
  </div>
