<h1>Services</h1>

<h3>Services</h3>
<p>According to economists, services are items that are not manufactured and are typically delivered on-demand. They tend to be
  ongoing, or things you return to again and again, unlike the single-instance events that characterize products.</p>
<br>
<p>Examples of services and a case study of public sector services are forthcoming.</p>
<br>



  <div class="grid-row">
    <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
      <a class="usa-button usa-button-outline guide-section-link noprint" href="products.html">&lt; Previous</a>
    </div>
    <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
      <a class="usa-button usa-button-outline guide-section-link noprint" href="systems.html">Next &gt;</a>
    </div>
  </div>
