<h1>Systems</h1>

<p>Economists divide economies into the two previous categories of activity: manufacturing products, and executing services. This parsing is not quite precise enough for the challenges of design, however. In the design process, we have a third possible category of designed thing: <strong>systems.</strong></p>

<p>As was said at the introduction to this section, the public sector is primarily a service provider. Those services are upheld, augmented, and accessed through products. But, especially internally, the public sector also launches and maintains systems that, while not exactly services themselves, are also not exactly products. Systems differ from services in that they, too, uphold services, or even launch the products, but they are neither. One example of this is the meritocratic system through which public sector workers attain promotion and career advancement: the payscale, requirements, and order of advancement all comprise the meritocratic system, that system itself creates the service meritocracy.</p>

<h3>Case Study: Systems in Government</h3>
  <h4>USAJOBS Mission Critical Hiring Paths Diagram</h4>
  <p>
    <img src="/images/ideation-usajobs_mco.png" class="border">
      <a href="/images/ideation-usajobs_mco.pdf" alt="USAJOBS Mission Critical Hiring Paths Diagram">Click to enlarge</a>
  </p>

  <p>This diagram shows the hiring path of various mission critical positions in the federal government. As part of the USA Jobs redesign, this diagram displays the system of hiring for these important positions.</p>
  <br>
  <p>A simple glance can show a reader that this is an incredibly complex problem involving multiple groups, and even multiple systems. In building this diagram, the USA Jobs team created an illustration of the hiring path components: people, stages, and touchpoints. Through this diagram, the team was able to not come up with a single solution for hiring, but instead to explore the system, for that exploration to result in understanding it, to clarify nuances in the system to viewers, and to communicate ideas for the systems' many possible throughlines and values in a concise and yet thorough manner.
  </p>
  <h3>Diagrams</h3>
  <p>Diagrams like this one are a common application of drawing and visual communication in government. They can be used to give form to items that, in reality, don’t have a physical, tangible form, such as this Hiring Paths process or the organizational chart of an office.
  </p>

  <div class= "space"></div>


  <div class="grid-row">
    <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
      <a class="usa-button usa-button-outline guide-section-link noprint" href="services.html">&lt; Previous</a>
    </div>
    <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
      <a class="usa-button usa-button-outline guide-section-link noprint" href="communicatingideas.html">Next &gt;</a>
    </div>
  </div>
