<h1> Design Phase Principles</h1>

<h3>Purpose</h3>
<p>These explanations of the design principles outlined previously should help you contexualize why the authors of this Guide have selected these principles as items to keep top-of-mind during your design phase. This section should also
  act as a reference throughout your design process.
</p>
<h3>Introduction</h3>
<p>The following principles are a global way of defining Design phase work so that it will more likely reflect the needs and desires of your audience. They are applicable across the fields for which we design in the public sector.
As teams create and iterate during the Design phase, they run the risk of losing touch with the urgency of the needs and values expressed by participants during the Discovery phase. Having a set of guiding principles gives design teams the parameters they need to constantly reference participants' needs and perspective during the design phase proceeds.

These principles are general standards that designers and teams should bring to every project; they define an attitude to the work. Using them as a measuring stick allows designers to ensure impactful work by anchoring the value of participant inclusivity into each part of the design process. Though difficult as we move through a project/our projects, we have to design for how
		people are, not how we want them to be.

</p>

<h1>Team</h1>
<h2>Getting to simple is hard</h2>
<p class="usa-font-lead">Budget Time, People, and Patience.</p>
<p>“How long will this take?” has to be one of the most terrifying questions any designer will be asked when embarking on the design phase. The simple answer is: one can’t know — but that time constraints can be useful. What we do know, from years of experience and many, many design case studies, is that getting to a simple, easy-to-understand, and useful solution to any design problem is the result of many rounds of iteration, problem-solving, and testing.</p>

<h3>Case In Point</h3>
<p><strong>The Semester Model</strong><br>
<p>We will go further into the details of scheduling a design phase in the Design Phase Operations Guide, but for now, one useful rule of thumb is the Semester Model, analogous to Epics in the Agile process*. Graduate thesis-level design projects typically span an entire semester with the students primarily working on their own or as a tight team and concentrating on nothing else. If your team meets this criterae: tightly working together and not concentrating on much else, then a semester, or 12-15 weeks, might be a good timeline for producing design work that has been developed through an iterative process and tested with either one or two round of participants, depending on how easy it is to schedule time with them. At 12 weeks, you can reasonably be able to offer your leadership and stakeholders a (hopefully brief) report on your design phase, including iterations and testing, and plan to move into secondary testing and piloting. More on this process in the <a href= "designimplementation.html">Design & Implementation</a> section.
</p>
<p>
*If you don't know what an Epic or Agile is, don't worry. Agile is a process for digital product development, and is appropriate for developing not-quite-as-blue-sky products as this Guide series encompasses. You'll probably use Agile or a similar methodology in evolving digital products with a development/engineering team. Find out more about the Agile process from <a href= "https://pivotal.io/agile">Agile: The Way to Develop Great Software.</a> For a slightly more in-depth look on how HCD and Agile can complement each other (much like <a href= "humancentereddesign.html">HCD and Lean</a>), please see <a href= "https://jaxenter.com/human-centered-design-agile-152879.html">Why human-centered design is a natural companion to Agile development.</a>

<p class= "guide-blue-box"><strong>Making Decisions</strong><br>
To move through those iterations, design teams find themselves making a lot of decisions. This process can be anxiety-inducing, as it means the design won’t meet all the needs of the participants. This decision-making is, however, necessary. What a
  design team is trying to do is to make a precisely useful solution for a precise problem, not to make a large, unwiedly solution that tries (and fails) to solve all the problems encountered by the participants.
</p>

<!--<h3>Case Study</h3>
<p>
  <strong>Interstate System Signage</strong><br>
  One example of a simple, large scale, public design solution that has stood the test of time is the Interstate Signage system developed under President Nixon. In this work, the service of signage U.S. interstates needed to work inside incredible
  constraints. To name a few, the system had to be scalable across the entire country; it had to work across any interestate exchange style that might have been built in any topography; and it needed to be immediately recognizable by drivers, which
  means maintaing consistency in tone and word use across any variation of signage need.</p>
<p>This system had to be expressed as a series of products, the signs, which have to function well for drivers travelling at high speeds, in vehicles of wildly different height and agility, in both daytime and at night.</p>
-->

<h2>No Solitary Geniuses</h2>
<p>The myth of a solitary genius solving a huge problem no one could solve is largely just that: a myth. Although CEOs, sports team leaders, and award-winners tend to get public credit, none of those people achieve their goals without the consistent, robust support and help of a variety of other people. </p>

<p>The same holds true in design. Although design clusters around a few big names, like <a href=https://en.wikipedia.org/wiki/Frank_Gehry>Frank Gehry</a>, an artitect, <a href=https://en.wikipedia.org/wiki/Jony_Ive>Jonathon Ive</a>, an industrial designer at Apple, Inc, and <a href="https://en.wikipedia.org/wiki/Miuccia_Prada">Miuccia Prada</a>, a fashion designer, all of these people have teams with which they work, and no of them designs in a vaccuum. Working in teams allows organizations to utilize the unique backgrounds, training, and natural talents of a variety of people. In the same way that design teams go out and talk to participants during Discovery, they also work as teams that espouse multiple disciplines. This allows design teams to hear multiple points during the making phase, in the same way they heard multiple points of view during the Discovery phase.</p>

<h3>Case In Point</h3>
<p><strong>NASA’s Mars Rover</strong><br>
  When the NASA undertook to land research robots called <a href=https://mars.nasa.gov/mer/mission/overview/>rovers</a> on planet Mars, no one person accomplished the task. Not even one leader can take credit. Instead, to land and operate a rover successfully on Mars, NASA assembled multiple teams of flight and mechanical engineers, physicists, rocket scientists, designers, project managers, finance specialists, and others to take on the task. </p>

  <p>During the development process, those teams engaged with the geologists, weather scientists, chemists, and others who needed their instruments sent on the Rover to perform the ground-breaking research. When the rover landed and started collecting that information, everyone knew they had contributed to making that happen. This culture of interdisciplinary collaboration at NASA has characterized their workflow since they were established in 1958. This is not to say that collaboration is always easy or seamless, but that the value that those interdisciplinary teams bring to the larger mission is understood and valued highly. This same logic holds throughout agencies and missions in the public space; working in teams allows us to be more effective and have longer-term, positive impact on our core missions than working in single-discipline silos. </p>

<h2>In Their Shoes</h2>
<p>
  If you have heard the old saying "it takes all kinds to make the world go 'round," then you know what this principle is about. Designing for those unlike yourself depends on the practices of empathy. <!--and sympathy.--> Practicing these means creating designs that will work for the participant. To understand the difference, lets break them down.
</p>
<p>
  The word “empathy” is often used in the design circles to describe an ideal emotional state between designer and partcipant in which the designer has so deeply learned about the participant that they can, as nearly as possible, stand the shoes of
  the partcipant themselves. <!--Operating at a high level, empathy can and should be practiced in tandem with a more targeted sense of sympathy. Sympathy, the ability to feel a similar emotion to another person, allows designers to make a cognitive leap across experiences so that they can design for the participants wholly different from themselves.-->  Practicing this emotional intelligence during the Design phase allows designers to create solutions for people whose experiences they will never have, but with whom they can empathize successfully codesign new or evolved products, services, and systems that improve participants' future experiences. 
</p>
<p>
  You have practiced this throughout the Discovery phase. As you move deeper into design, remember that deep empathy or sympathy you developed. Lean on that while you iterate in order to design for your particpants, even if they are widely different from yourself.
</p>

<h3>Case In Point</h3>
<p>
  <strong>VEO and Transitioning Veterans</strong><br>
  <p>The <a href=https://www.va.gov/va-welcome-kit-color.pdf>VA Welcome Kit</a> is one example of using empathy to design better experiences. <!--The Department of Veterans Affairs Veterans Experience Office (VEO) and The Lab have a long-standing partnership at the federal level. In this partnership, Lab team members partcipate in research and design work in many parts of VA, oftentimes working directly with veterans.</p>

  <p>One of the key components of designing in this space is, for Lab team members, the practice of empathy and sympathy. Although not many Lab team members are veterans themselves, all Lab team members have, at one point in their lives or another, experienced the anxiety that comes with big changes in one's life. Whether that's a move, a new job, or deciding to go back to school, Lab team members who are not veterans cannot have empathy with veterans, but they can sympathize with them. And through the acts of gathering stories, of hearing and studying with veterans, Lab team members are able develop that sense of sympathy into an understanding of the processes veterans face during transition from the military.</p>-->

  The Kit, designed for and with veterans, improves veterans' understanding of available services and benefits in the large VA system.  Using plain language, the Kit strives to bring together the myriad phone numbers, registrations, and options a veteran has upon entering VA into a consistent, readable, and modern layout. To design it, VEO spent a year speaking and co-designing with veterans to understand and empathize with their confusion regarding benefits and services during transition. Building this empathy meant VEO sent employees and designers to all parts of the United States to talk to veterans about that experience. What this research found was that veterans bring a range of readinness for civilian life to their period of transition from the military, but that VA could do a lot better to smooth that path with consistent, consumable direction regarding the VA organization.</p>

  <p>Using this information, the team designed the VA Welcome Kit, now in use across VA. Through empathizing with veterans and their experiences, getting to know this confusion and frustration many veterans feel upon trying to access VA services, and synthesizing those learnings into the VA Welcome Kit, VEO stepped into the shoes of veterans in order to improve their earliest experiences of VA. </p>
<div class="grid-row">
  <div class="grid-col-12 mobile-lg:grid-col-6 tablet:grid-col-3 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="designphase.html">&lt; Previous</a>
  </div>
  <div class="grid-col-12 mobile-lg:grid-col-4 mobile-lg:grid-offset-2 tablet:grid-col-3 tablet:grid-offset-4 margin-bottom-2">
    <a class="usa-button usa-button-outline guide-section-link noprint" href="participants.html">Next &gt;</a>
  </div>
</div>
